@import "../Theme.scss";
@import "../../mobile-mixins.scss";

.TEMPLATE_ROOT
{
    height: 100%;

    @include themify
    {
        .TEMPLATE_TOP
        {
            
        }

        .TEMPLATE_CONTENT
        {
           
        }

        .TEMPLATE_FOOTER
        {

        }
        
        @include responsive("XS")
        {
            .TEMPLATE_TOP
            {
                
            }
        
            .TEMPLATE_CONTENT
            {
        
            }
        
            .TEMPLATE_FOOTER
            {
        
            }
        }

        @include responsive("XL")
        {
            .TEMPLATE_TOP
            {
                height: 90px;
            }
        
            .TEMPLATE_CONTENT
            {
                height: calc( 100% - 90px - 200px );
            }
        
            .TEMPLATE_FOOTER
            {
                height: 200px;
                background-color: themed("color-dark");
            }
        }
    }
}