@import "../Theme.scss";
@import "../../mobile-mixins.scss";

.TEMPLATE_ROOT
{
    height: 100%;

    @include themify
    {
        .TEMPLATE_TOP
        {
            transition: height 500ms;

            @include responsive("LG")
            {
                height: 60px;
            }

            @include responsive("XL")
            {
                height: 70px;
            }

            @include responsive("XXL")
            {
                height: 90px;
            }
        }

        .TEMPLATE_CONTENT
        {
            transition: height 500ms;

            @include responsive("LG")
            {
                height: calc( 100% - 60px - 200px );
            }

            @include responsive("XL")
            {
                height: calc( 100% - 70px - 200px );
            }

            @include responsive("XXL")
            {
                height: calc( 100% - 90px - 200px );
            }
        }

        .TEMPLATE_FOOTER
        {
            transition: height 500ms;
            background-color: themed("color-dark");

            @include responsive("LG")
            {
                height: 200px;
            }
        }
    }
}