@import "./Theme.scss";

html
{
    height:100%;
}

body
{
    height:100%;

    @include themify
    {
        background-color: themed("color-primary");
    }
}

.root
{
    height: 100%;
}

.WS_ROOT
{
    height: 100%;
}