$default:
(
    color-primary: #E1DA23,
    color-secondary: #FF003C,
    color-ternary: #02D8F3,
    color-quaternary: #FF00A0,
    color-dark: #101011,
    color-minimum: #000000,
    color-maximum: #FFFFFF,
);

$themes:
(
    default: $default,
);

@font-face 
{
    font-family: "DarknessOfTheNight";
    src: url("../assets/font/ttf/darkness_of_the_night.ttf") format("truetype");
}

@import "../theme-mixins.scss";